@import url('https://fonts.googleapis.com/css?family=Lato|Supermercado+One');

/* Use the 'Lato' font family at 18px throughout the body of the document, and cover the background with the './img/map-bg.jpg' image. */
nav {font-family: sans-serif; font-size: 10px;}

body{
    font-family: 'Lato', sans-serif;
    background-image: url('./img/map-bg.jpg');
}

#main {width: 900px; margin: 10px auto;}
/* Use the 'Supermercado One' font at 45px (colored #5d4037) for the restaurant name. */
.restaurantName{
    font-family: 'Supermercado One', cursive;
    color: #5d4037;
}
/* Set the separator between the columns (the "column-rule") to be 2px dashed rosybrown. */
#menu {columns: 400px 2; column-gap: 100px;}
section {
    margin-bottom: 50px;
    border-top: 2px dotted #BC8F8F;
}

/* Show each of the section headings of the menu (e.g. "Starters") in small caps, colored #6d4c41. */
h2 {margin: 0;}

#starters h2{
    color: #6d4c41;
}
#entrees h2{
    color:  #6d4c41;
}
#desserts h2{
    color: #6d4c41;
}
#soupssalads h2{
    color: #6d4c41;
}



/* Make the name of each menu item appear in bold in a 20px size. */
#starters dt{
    font-weight: bold;
    font-size: 20px;
}
#soupssalads dt{
    font-weight: bold;
    font-size: 20px;
}
#entrees dt{
    font-weight: bold;
    font-size: 20px;
}
#desserts dt{
    font-weight: bold;
    font-size: 20px;
}
}


dd {margin: 0 0 12px 0; display: flex;}

.details {order: 1;}

/* Show the price of each item in a large font, in the color named 'firebrick' */
.price {order: 2; padding-left: 10px;}
{
    color: firebrick
}

/* Draw a 2px dashed rosybrown border around the address/footer */
address {padding: 10px;}
#footer{
    border: 2px dotted rosybrown;
}